.disappear{
	display: none;
}

#navibg{
	background: skyblue;
}

#navi{	
	height: 40px;
}

#navi li{
	float: left;
	padding: 5px;
	margin: 5px;
}

#navi a{
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#hello{
	margin-top: -30px;
	text-align: right;
}

.push-md{
	margin-top: 30px;
}

.push-lg{
	margin-top: 60px;
}